.student-form {
  text-align: center;
  background-color: #c4c4c4;
}
.student-form h1 {
  text-align: center;
  margin: 3%;
  text-decoration: underline;
  text-decoration-color: #ffc53d;
  text-underline-position: under;
}

.student-form .inputBar {
  margin: 20px auto;
  width: 60%;
  border-color: #ffc53d;
}
.student-form .inp {
  border-color: #ffc53d;
}
.student-form .ant-select-selection {
  border-color: #ffc53d;
}
.student-form .inputWithE {
  border-color: #ffc53d;
}
.student-form .inputWithoutE {
  border-color: #ffc53d;
}

.student-form .btn {
  text-align: center;
  background-color: #c4c4c4;
}
.student-form .btn:hover {
  background-color: #c4c4c4;
}

.student-form .addStudentBtn:hover {
  background-color: #ffc53d;
  border-color: #ffc53d;
  color: black;
  transform: scale(1.1);
}

.student-form .addStudentBtn {
  background-color: #ffc53d;
  border-color: #ffc53d;
  color: black;
  width: auto;
  margin: 10px;
  transition: all 0, 3s;
}
